/***************************************************************************
  final-project
******************************************************************************/


@import '../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';

$visual-grid: false;
$visual-grid-color: green;
$visual-grid-opacity: 0.1;
$grid-columns: 12;
$desktop-page-width: 1088px;
$max-width: 1088px;

$purple-light: #9b6bce;
$purple-dark:  #8146c0;
$green-light:  #5cc966;
$green-dark:   #3db548;
$yellow-light: #c6b255;
$yellow-dark:  #bba13e;
$red-light:    #ca6162;
$red-dark:     #c44d4f;
$blue-light:   #92a2db;
$blue-dark:    #6e90cf;
$orange-dark:  #bf7641;
$orange-light: #cd9266;

@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';



$mobile: new-breakpoint(max-width 1075px);
$phone:  new-breakpoint(max-width 525px);



/*****************************************************************************
  Base Styles
******************************************************************************/

	*, *::after, *::before {
  		box-sizing: inherit; 
  		width: 100%;
  		font-size: 18px;
  		box-sizing: border-box;
	}

	.overall-container	{
		width: 100%;
		max-width: ($desktop-page-width);
		margin: auto;
	}


	.sticky-offset	{
		margin-bottom: 6rem;
	}

	.title				{
		position: absolute;
		height: 50%;
		display: block;
	}

	.menubar		{
		float: left;
		width: 20%;
		margin-bottom: 2rem;
	}

	.menu-button	{
		float: left;
		width: 33.333%;
		text-align: center;
		font-size: 1rem;
		color: white;
		height: 100%;
		height: 3.9rem;
	}

	#home-button.menu-button	{
		background-color: gray;
	}

	#facebook.menu-button	{
		background-color: #3B5998;
	}

	#facebook-logo	{
		font-style: bold;
		font-size: 2.5rem;
		margin-top: 0.25rem;
	}

	#twitter.menu-button	{
		background-color: #4099FF;
	}

	#twitter-logo	{
		max-height: 3rem;
		max-width: 3rem;
		margin-top: 0.5rem;
	}

	.navibar	{
		float: left;
		width: 80%;
		margin-bottom: 2rem;
	}

	.bar-locked	{
		position: fixed;
		float: left;
		z-index: 10;
		top: 0rem;
		@include outer-container;

	}

	.nav-button	{
		float: left;
		font-family: helvetica;
		text-align: center;
		margin-top: 0rem;
		margin-bottom: 0px;
		font-size: 1rem;
		background-color: $blue-light;
		color: white;
		width: 20%;
	}

	.news-nav-button	{
		background-color: $green-light;
	}

	.opinion-nav-button	{
		background-color: $red-light;
	}

	.arts-nav-button	{
		background-color: $yellow-light;
	}

	.features-nav-button	{
		background-color: $purple-light;
	}

	.columns-nav-button	{
		background-color: $orange-light;
	}

															/* IMAGES START */

	.image-container					{
		float: left;
		clear: auto;
		position: relative;
		background-color: none;
		opacity: 1;
		margin-bottom: 2rem;
		@include span-columns(3);
		@include media($mobile)				{
			@include span-columns(6);
		}
		@include media($phone)				{
			@include span-columns(12);
		}
	}

	.image-container:nth-child(4n+2)	{
		background-color: none;
		margin-right: 0px;
	}

	.image-container:nth-child(2n+2)	{
		@include media($mobile)	{
			background-color: none;
			margin-right: 0px;
		}
	}

	.thumbnail		{
		display: block;
		border-radius:0px;
		padding: 0px;
	}
																/* IMAGES END */


																/* TAGS START 	*/
	.tag				{
		float: left;
		position: absolute;
		background-color: $green-light;
		height: 2rem;
		bottom: 2rem;
		left: 2rem;
		border-radius: 0.6rem;
		display: block;
		width: auto;
		padding-right: 1rem;
		padding-left: 1rem;
		padding-bottom: 2.95rem;
		border-width: 0.1rem;
		border-style: solid;
		border-color: $green-dark;
		opacity: 0.75;
		@include media($mobile)	{
			height: 1.75rem;
			bottom: 2rem;
			left: 2rem;
			border-radius: 0.6rem;
		}
	}

	.dot 		{
		margin-left: 0rem;
		width: 1rem;
		height: 1rem;
		border-top-left-radius: 0.25rem;
		border-bottom-left-radius: 0.25rem;
		background-color: white;
		display: inline-block;
	}

	.tag-words	{
		font-size: 1.5rem;
		margin-bottom: 0rem;
		color: white;
		display: inline-block;
		width: auto;
	}
																/* TAGS END 	*/

	.highlight	{
		background-color: yellow;
	}

	.news-tag	{
		background-color: $green-light;
		border-color: $green-dark;
		opacity: 0.75;
	}

	.news-tag:hover	{
		background-color: $green-light;
		border-color: $green-dark;
		opacity: 1;
	}

																/*	OPINION TAGS START	*/
	.opinion-tag	{
		background-color: $red-light;
		border-color: $red-dark;
		opacity: 0.75;
	}

	.opinion-tag:hover	{
		background-color: $red-light;
		border-color: $red-dark;
		opacity: 1;
	}
																/*	OPINION TAGS END	*/

	.arts-tag	{
		background-color: $yellow-light;
		border-color: $yellow-dark;
		opacity: 0.75;
	}

	.arts-tag:hover	{
		background-color: $yellow-light;
		border-color: $yellow-dark;
		opacity: 1;
	}

	.features-tag	{
		background-color: $purple-light;
		border-color: $purple-dark;
		opacity: 0.75;
	}

	.features-tag:hover	{
		background-color: $purple-light;
		border-color: $purple-dark;
		opacity: 1;
	}

	.columns-tag	{
		background-color: $orange-light;
		border-color: $orange-dark;
		opacity: 0.75;
	}

	.columns-tag:hover	{
		background-color: $orange-light;
		border-color: $orange-dark;
		opacity: 1;
	}


/*****************************************************************************
  Layout Styles
******************************************************************************/




/*****************************************************************************
  Module Styles
****************************************************************************/