article {
	font-family: 'Roboto', sans-serif;

	.articleHeader {
		margin: 15px 0px;
		border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
		border: 1px solid lightgray;
	}

	.contents {
		min-height:200px;
		width: 100%;
		outline: transparent;

		img {
			margin-bottom: 15px; 
			display: block;
			width: 100%;
			height: auto;
			border-radius: 5px 5px 5px 5px;
			-moz-border-radius: 5px 5px 5px 5px;
			-webkit-border-radius: 5px 5px 5px 5px;
		}
		p {
			padding:0px;
		}
	}

	input {
		-webkit-appearance: none;
		outline: none;
		border-width: 0px;
		border: none;
		box-shadow: none !important;
		background-color: transparent !important;
		width: 100%;
		text-align: center;
	}

	.title {
		text-align: center;
		font-size: 55px;
		width: 100%;
		text-align: center;
		margin-top: 15px;
	}

	.author {
		text-align: center;
		color: #B6B6B6;
		font-style: italic;
		font-size: 20px;
	}
	.authorinput {
		text-align: center;
		min-width: 0px;
	}

	/* Deck */
	.deck-wrapper {
		position: relative;
		width: 100%;
		min-height: 50px;
		background-color: #F6F6F6;
		border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
		border: 1px solid lightgray;
	}

	.deck {
		position: absolute;
		top:6px;
		left: 6px;
		right:6px;
		bottom: 6px;
		background: transparent;
		text-align: left;
		font-style: bold;
		font-size: 20px; 
	}

	textarea {
		position: absolute;
		top:6px;
		left: 6px;
		right:6px;
		bottom: 6px;
		width:100%;
		height:30px;
		overflow: none;
		
		padding:0px;
		border: none;
		overflow: auto;
		outline: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		resize: none; 
		background: transparent;

		&.reset {
			padding:0px;
			border: none;
			overflow: auto;
			outline: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			resize: none; 
			background: transparent;
		}
	}

	p {
		font-size: 20px;
	}

	.editorWrapper  {
		position: fixed;
		bottom: 1px;
		left: 0px;
		right:0px;
	}

	.editor {

		border-radius: 5px 5px 0px 0px;
		-moz-border-radius: 5px 5px 0px 0px;
		-webkit-border-radius: 5px 5px 0px 0px;
		background-color: white;
		height: 230px;
		border: 1px solid lightgrey;
		ul {
				padding:0px;
				margin:0px;
				width: 100%;
				clear: both;
				height: 50px;
			li {
				position: relative;
				float:left;
				padding:0px;
				margin:0px;
				/*border-left: 1px solid lightgrey;*/
				width:50%;
				list-style-type: none;
				height: 100%;
				.link {
					position: absolute;
					top: 5px;
					bottom: 5px;
					left: 5px;
					right: 0px;
					
					color: black;
					text-align: center;
					font-size: 20px;
					padding-top: 8px;
					
					background-color: #DDDDDD;
					&.active {
						background-color: #2E79B9;
						color: white;
					}
					&:hover {
						cursor:pointer;
					}
					&.first {
						border-radius: 5px 0px 0px 0px;
						-moz-border-radius: 5px 0px 0px 0px;
						-webkit-border-radius: 5px 0px 0px 0px;
						/*right:0px;*/
					}
					&.last {
						border-radius:  0px 5px 0px 0px;
						-moz-border-radius:  0px 5px 0px 0px;
						-webkit-border-radius:  0px 5px 0px 0px;
						right: 5px;
					}
				}

				&:last-child {
					border-left: 0px;
				}
			}
		}

		.tool-wrapper {
			position: relative;
			width: 100%;
			height: 100%;
		}

		.tool {
			position: absolute;
			top: 0px;
			bottom: 55px;
			left: 5px;
			right: 5px;

			&.publishing { 
				.part {
					position: relative;
					width: 33.33%;
					height: 100%;
					/*outline: 1px solid black;*/
					float: left;
				}
			}

			&.images { 
				.part {
					position: relative;
					width: 50%;
					height: 100%;
					/*outline: 1px solid black;*/
					float:left;
				}
			}

			.select {
				position: absolute;
				left: 0px;
				right: 5px;
				top: 0px;
				bottom: 0px;
				border: 1px lightgrey solid;
				background-color: white;
				border-radius: 5px 5px 5px 5px;
				-moz-border-radius: 5px 5px 5px 5px;
				-webkit-border-radius: 5px 5px 5px 5px;
				
				&.last {
					right: 0px !important;
				}
				input.choice:hover{
					cursor:text;
				}
				input.choice{
					font-size: 25px;
				}
				.choice {
					position: relative;
					width:100%;
					height:57px;
					border-bottom: 1px solid lightgray;	
					text-align: center;
					line-height: 2.2;
					font-size: 25px;

				 	&:hover{
						cursor:pointer;
					}
					&.active {
						background-color: #DDDDDD;
						color: white;
					}
					&:last-child {
						border-bottom: transparent;	
					}
				}
				.button {
					margin-top: 5px;
					height: 85px;
					width: 100%;
					background-color: #DDDDDD;
					border-radius: 5px 5px 5px 5px;
					-moz-border-radius: 5px 5px 5px 5px;
					-webkit-border-radius: 5px 5px 5px 5px;
					
					text-align: center;
					font-size: 25px;
					line-height: 3.2;
					&:first-child {
						margin-top: 0px;
					}
					&:hover {
						cursor:pointer;
					}
				}
				form {
					width: 400px;
					padding: 20px;
					margin-left: auto;
					margin-right: auto;
					input[type="text"]{
						color: black;
						border: 1px black solid;
						background-color: white !important;
						height: 35px;
						margin-bottom: 20px;
					}
				}
			}
		}
	}
	.transparent {
		border: 0px transparent !important;
	}
	.buffer {
		height: 235px;
	}
}
