.content-row {
	width: 100%;
	//min-height: 500px;
	clear: both;
	@media (min-width: 750px + 1){
		margin-top: 15px;
	}
}

.recent-row {
	position: relative;
	@media (min-width: 750px + 1){
		width: 25%;
	}
	@media (max-width: 750px + 1){
		display:none;
	}
	
	float: left;
	margin-right: -1px;
	height: 1000px;
	
	
}
.recent-wrapper {
	background-color:black;
	position:absolute;
	left:0px;
	right: 15px;
	top:0;
	bottom: 0;
	background-color:black;
	margin-bottom: 15px;
}

.main-row {
	@media (min-width: 750px + 1){
		width: 75%;
	}
	@media (max-width: 750px + 1){
		width: 100%;
	}
	width: 75%;
	float: left;
}
.main-column {

}
.main-inner-row {
	display: block;
	width: 100%;
	clear: both;
}
.main-inner {
	position: relative;
	height:100%;
	float: left;

}
.card {
	position: absolute;
	overflow: hidden;
	background-size:cover;
	outline: 2px solid black;

	.card-title-wrapper {
		color: white;
		background-color:rgba(0, 0, 0, 0.5);

		@media (min-width:750px + 1) {
			min-height:50px;
			width: 100%;
			position: relative;
			//background-color:rgba(0, 0, 0, 1);
		}
		@media (max-width:750px) {
			position:relative;
			height:100%;
			width:100%;
			//background-color:rgba(0, 0, 0, 0.5);
		}
	}
	.card-title {
		word-wrap: break-word;
		@media (min-width:750px + 1) {
			position: relative;
			padding: 15px;
			
		}
		@media (max-width:750px) {
			position:absolute;
			left:15px;
			right:15px;
			top:15px;
			bottom:15px;	
		}
	}

	.card-description-wrapper {
		position: absolute;
		bottom:0px;
		left:0px;
		right:0px;
		min-height: 30px;
		background-color: black;
		padding: 5px;
		color:white;
		overflow:hidden;
	}

	@media (min-width: 750px + 1){
		top: 0px;
		right: 15px;
		bottom: 15px;
		left: 0px;
	}
	@media (max-width:750px) {
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
	}
}
.one{
	font-size: 20px;
	width: 100%;
	@media (min-width: 1200px + 1) {
		//height:400px;
	}

}
.two {
	width: 50%;
	@media (min-width: 1200px + 1) {
		& .card-title {
			font-size: 29px;
		}
		& .card-description-wrapper {
			//height: 60px;
		}
		height:350px;
	}
	@media (min-width:990px + 1) and (max-width: 1200px) {
		height:300px;
		& .card-title {
			font-size: 26px;
		}
		& .card-description-wrapper {
			//height: 55px;
		}
	}
	@media (min-width: 750px + 1) and (max-width: 990px) {
		height:250px;
		& .card-title {
			font-size: 23px;
		}
		& .card-description-wrapper {
			//height: 50px;
		}
	}
	@media (max-width:750px) {
		height:200px;
		& .card-title {
			font-size: 20px;
		}
		& .card-description-wrapper {
			display:none;
		}
	}
}
.three {
	@media (min-width: 1200px + 1) {
		height:300px;
		& .card-title {
			font-size: 25px;
		}
		& .card-description-wrapper {
			//height: 55px;
		}
	}
	@media (min-width:990px + 1) and (max-width: 1200px) {
		height:250px;
		& .card-title {
			font-size: 20px;
		}
		& .card-description-wrapper {
			//height: 50px;
		}
	}
	@media (min-width: 750px + 1) and (max-width: 990px) {
		height:200px;
		& .card-title {
			font-size: 18px;
		}
		& .card-description-wrapper {
			max-height: 45px;
			font-size:12px;
		}
	}
	@media (max-width:750px) {
		height:150px;
		& .card-title {
			font-size: 18px;
		}
		& .card-description-wrapper {
			display:none;
		}
	}
	width: 33.33%;
}
.four {
	& .card-description-wrapper {
		display:none;
	}
	@media (min-width: 1200px + 1) {
		height:250px;
		& .card-title {
			font-size: 25px;
		}

	}
	@media (min-width:990px + 1) and (max-width: 1200px) {
		height:200px;
		& .card-title {
			font-size: 20px;
		}
	}
	@media (min-width: 750px + 1) and (max-width: 990px) {
		height:150px;
		& .card-title {
			font-size: 15px;
		}

	}
	@media (max-width:750px) {
		height:100px;
		& .card-title {
			font-size: 15px;
		}
	}
	width: 25%;
}

.last div{
		right: 0px;
}

/*
	@media (max-width:750px) {
	}
	// Desktop
	@media (min-width: 750px + 1) and (max-width: 990px) {
	}
	// Transition
	@media (min-width:990px + 1) and (max-width: 1200px) {
	}
	// desktops  
	@media (min-width: 1200px + 1) {
	}
*/