/*
@media (max-width: $screen-xs-max) {

}
@media (min-width: $screen-sm-min ) and (max-width: $screen-sm-max) {

}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}
@media (min-width: $screen-lg-min) {

}
*/
.np-container {
	
	@media (max-width:750px) {
		width: 100%;
	}
	/* Transition
	@media (min-width:720px + 1) and (max-width: 750px) {
		width: 720px;
		margin: 0px auto;
	}
	*/
	// Desktop
	@media (min-width: 750px + 1) and (max-width: 990px) {
		position: absolute;
		left: 15px;
		right: 15px;
	}
	// Transition
	@media (min-width:990px + 1) and (max-width: 1200px) {
		width: 960px;
		margin: 0px auto;
	}

	// desktops + 
	@media (min-width: 1200px + 1) {
		width: 80%;
		margin: 0px auto;
	}

}