$header-height: 250px;
$newamount : 5px;
header {
	$newamount : 5px;
	background-color: black;
	background-position: cover center;
	border: 1px black solid;

	@media ( min-width:750px + 1) {
		margin-top: 15px;
	}

	@media (max-width: 1200px) {
		position: relative;
		width: 100%;

		&:before {
			content: "";
			display: block;
			padding-top: 18.2%;
		}

	}

	@media (min-width: 1200px + 1) {
		position: relative;
		height: 175px;
		width: 100%;
	}

	.header-wrapper {
		position:  absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

.top-header-row {
	clear: both;
	@media ( min-width:750px + 1) {
		height: 72%;
	}
	@media ( max-width:750px) {
		height: 100%;
	}
}

$numLinks : 6;
.bottom-header-row {

	@media ( max-width:750px) {
		display: none;
	}

	clear: both;
	height: 28%;

	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;

	
	nav {
		width: 100%;
		height: 100%;
		clear: both;
		//background-color: white;
		.link-wrapper {
			position: relative;
			width: 100% / $numLinks;
			height: 100%;
			float:left;

			&:last-child {
				& > .link {
					right: 15px;
				}
			}
			&:first-child {
				& > .link {
					left: 15px;
				}
			}
		}
		.link {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 15px;

			background-color: white;
			text-align: center;
			color: black;
			
		}
	}
}
.side-sandwich {
	@media ( min-width:750px + 1) {
		display: none;
	}
	@media ( max-width:750px) {
		width: 40px;
		height: 40px;
		margin: 0px auto;

		background-color:white;
		border: 1px black solid;

		border-radius: $newamount;
  		-moz-border-radius: $newamount;
  		-webkit-border-radius: $newamount;
	}
}
.side-header-wrapper {
	@media ( min-width:750px + 1) {
		width: 30%;
	}
	@media ( max-width:750px) {
		width: 25%;
	}
	float: left;
	width: 30%;
	height: 100%;
}
.center-header-wrapper{
	@media ( min-width:750px + 1) {
		width: 40%;
	}
	@media ( max-width:750px) {
		width: 50%;
	}
	float: left;
	height: 100%;
}

.np-logo {
	@include img-responsive();
}

