.search-wrapper {
	position:relative;
	clear: both;
	width: 100%;
	height: 45px;
	border: 1px lightgrey solid;
	background-color:lightgrey;
	
}
.search {
	position:absolute;
	left: 10px;
	right: 10px;
	bottom:10px;
	top: 10px;
	outline: transparent;
	font-size: 20px;
	text-align: center;
}

