<article>
	
	<div class="articleHeader">
		<h1 class="title" ng-hide="main.loggedin" > {{displayArticle.title}} </h1>
		<input class="title" ng-show="main.loggedin" placeholder="Title Of Article"  ng-model="displayArticle.title"/>
		
		<p class="author" ng-hide="main.loggedin">By: {{displayArticle.author}}</p>
		<p class="author"><input placeholder="Type Author Here" ng-model="displayArticle.author" ng-show="main.loggedin"/></p>
	</div>

	<div class="deck-wrapper" ng-hide="main.loggedin || (displayArticle.description.length == 0) ">
		<div class="deck">
		    <h4>
		       {{displayArticle.description}}
		    </h4>
		</div>
	</div>
	
	<div class="deck-wrapper" ng-show="main.loggedin">
		<div class="deck">
			<textarea row="1" class="deck" ng-model="displayArticle.description" placeholder="Type Descrition here!" ></textarea>
		</div>
	</div>
	
	<div class="contents" ng-hide="main.loggedin" ng-bind-html="displayArticle.content"></div>
	<div  class="contents" ng-show="main.loggedin" ng-bind-html="displayArticle.content" id="editor"></div>
	
	<div class="buffer"></div>
	
	<div class="editorWrapper" ng-show="main.loggedin">
		<div class="np-container editor">
			<ul>
				<li><div class="link first" ng-class="{active:editorPanel.state == 2}" ng-click="editorPanel.state = 2">Images</div></li>
				<li><div class="link last" ng-class="{active:editorPanel.state == 1}" ng-click="editorPanel.state = 1">Publishing</div></li>
			</ul>
			<div class="tool-wrapper">
				<div class="tool publishing" ng-show="editorPanel.state == 1">
					<div class="part">
						<div class="select">
							<div class="choice active">Writing Stage</div>
							<div class="choice">Editing Stage</div>
							<div class="choice">Published Stage</div>
						</div>
					</div>
					<div class="part">
						<div class="select">
							<input class="choice" ng-model="displayArticle.section" placeholder="Type Section Name"/>
							<input class="choice" ng-model="displayArticle.date" placeholder="Type Date"/>
							<div class="choice" ng-class="{active:displayArticle.featured == true}" ng-click="toggleFeatured()" >Is Featured</div>
						</div>
					</div>
					<div class="part">
						<div class="select last transparent">
							<div class="button" ng-click="save()">Save</div>
							<div class="button">Publish</div>
						</div>
					</div>
				</div>
				<div class="tool images" ng-show="editorPanel.state == 2">
					<div class="part">
						<div class="select"></div>
					</div>
					<div class="part">
						<div class="select last">
							<form>
								<input type="text" class="form-control" placeholder="Type Image Title" ng-model="newImage.title">
								<input type="file" ng-disabled="form.$invalid" ngf-select ngf-change="uploadImage($file)" ngf-validate-fn="validateImage($file)" id="exampleInputFile" name="image">
								<p class="help-block">{{newImage.info}}</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</article>

	