
<div class="content-row">
	<div class="recent-row">
		<div class="recent-wrapper">
			
		</div>
	</div>
	<div class="main-row">
		<div class="main-column" ng-repeat="mainy in page.main">
	        <np-pannel ng-repeat="part in mainy" num="mainy.length" content="part" ng-class="{last:part == mainy[mainy.length-1]}"></np-pannel>
    	</div>
	</div>
</div>