<header>
	<div class="header-wrapper">
	  <div class="top-header-row">
	    <div class="side-header-wrapper">
	      <div class="side-sandwich" id="sandwich"></div>
	    </div>
	    <div class="center-header-wrapper">
	      <img class='np-logo' id="logo1" src="newspaper/bootstrap/images/logo.png"/>
	    </div>
	    <div class="side-header-wrapper">
	    </div>
	  </div>
	  <div class="bottom-header-row">
	    <nav>
	      <div ng-repeat="sect in header.sections" class="link-wrapper" ng-click="setSection(sect)" style="width:{{100/(header.sections.length)}}%;">
	        <div class="link" >
	          <div vertical-align class="link-text">{{sect}}</div>
	        </div>
	      </div>
	    </nav>
	  </div>
	</div>
</header>