<div class="main-inner">
    <div class="card" style="background: url({{content.images[0]}});" >
    	<div class="card-title-wrapper">
    		<div class="card-title">{{content.title}}</div>
    	</div>
    	<div class="card-description-wrapper" ng-show"content.description.length != 0">{{content.description}}</div>
    </div>
</div>