
<np-article></np-article>
<!--
<div class="old">
	<div class="buffer"></div>

		
		      <div class="publishing" ng-show="editorPanel.state == 3">
		        <button class="saveArticle" ng-click="save()">
		          Save Article
		        </button>
		        <div class="stages">
		          <ul class="list-group">
		            <li class="list-group-item active">Draft Stage</li>
		            <li class="list-group-item">Editor Stage</li>
		            <li class="list-group-item">Published</li>
		          </ul>
		        </div>
		        <button class="saveArticle">
		          Publish
		        </button>
		      </div>
		
		    </div>
		  </div>
		</div>
	</div>
</div>
-->