<div class="old">
<div class="row">
	<div class="col-xs-12">
		<h1 class="center"> Login </h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-8 col-xs-offset-2 well well-lg">
		<form ng-submit='login()'>
			<div class="form-group">
				<label for="email">Email</label>
				<div ng-show="form.email.$invalid && form.email.$dirty">

				</div>
				<input type="email" class="form-control" id="loginEmail" placeholder="Email" ng-model="oldUser.email" name="email" required/>
			</div>
			<div class="form-group">
				<label for="passowrd">Password</label>
				<div ng-show="form.password.$invalid && form.password.$dirty">
	
				</div>
				<input type="password" class="form-control" id="loginPassword" placeholder="Password" ng-model="oldUser.password" name="password" required/>
			</div>
			<button type="submit" class="btn btn-default"> Login! </button>
		</form>
		{{msgtxt}}
	</div>
</div>
</div>