<div class="old">
	<div class="row">
		<div class="col-xs-12 center">
			<h1>{{profileUser.first}} {{profileUser.last}} <small>{{profileUser.title}}</small></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default" >
				<div class="panel-heading">
					<h3 class="panel-title">About</h3>
				</div>
				<div class="panel-body">
				</div>
			</div>
		</div>
	</div>
	<!-- Upload -->
	<div class="row">
		<div ng-show="main.loggedin" class="col-xs-12">
			<div class="well">
				<h3 class="center" style="margin-top:0px">New Article</h3>
				<form ng-submit='newArticle()'>
					<div class="form-group">
						<label for="newtitle">Title</label>
						<input type="text" class="form-control" ng-model="articleInfo.title" id="articleTitle" placeholder="Title" required >
					</div>
					<div class="form-group">
						<label for="articleDescription">Description </label>
						<textarea type="text" class="form-control" ng-model="articleInfo.description" id="articleDescription" placeholder="Description" style="resize: none;" rows='4' required ></textarea>
					</div>
					<button type="submit" ng-disabled="form.$invalid" class="btn btn-default">Create!</button>
				</form>
			</div>
		</div>
	</div>
	
	</div>
	<!-- Drafts -->
	<div class="row">
		<div class="col-xs-12" ng-show="main.loggedin">
			<div class="panel panel-default" >
				<div class="panel-heading">
					<h3 class="panel-title">Drafts</h3>
				</div>
				<div  class="panel-body list">
			    	<div ng-repeat="article in profileUser.articles" class="media">
						<div  class="media-left media-top">
							<a ng-href="#/article/{{article.link}}">
								<img class="media-object" src="http://placehold.it/64x64" alt="plaholder">
							</a>
				  		</div>
				  		<div class="media-body">
					  		<a ng-href="newspaper/#/article/{{article.link}}">
							<h4 class="media-heading">{{article.title}}</h4>
							<p>{{article.description}}</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default" >
				<div class="panel-heading">
					<h3 class="panel-title">Published</h3>
				</div>
				<div class="panel-body list">
			    	<div class="media">
						<div class="media-left media-top">
							<a href="#">
								<img class="media-object" src="http://placehold.it/64x64" alt="plaholder">
							</a>
				  		</div>
				  		<div class="media-body">
							<h4 class="media-heading">Middle aligned media</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum maximus lorem at vulputate. Quisque mattis nunc neque, a ultrices turpis lobortis eu. </p>
						</div>
					</div>
			    	<div class="media">
						<div class="media-left media-top">
							<a href="#">
								<img class="media-object" src="http://placehold.it/64x64" alt="plaholder">
							</a>
				  		</div>
				  		<div class="media-body">
							<h4 class="media-heading">Middle aligned media</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum maximus lorem at vulputate. Quisque mattis nunc neque, a ultrices turpis lobortis eu.</p>
						</div>
					</div>
			    	<div class="media">
						<div class="media-left media-top">
							<a href="#">
								<img class="media-object" src="http://placehold.it/64x64" alt="plaholder">
							</a>
				  		</div>
				  		<div class="media-body">
							<h4 class="media-heading">Middle aligned media</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum maximus lorem at vulputate. Quisque mattis nunc neque, a ultrices turpis lobortis eu.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

