<div class="old">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="center"> Signup </h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2 well well-lg">
			<form ng-submit='signup()'>
				<div class="form-group">
					<label for="first">First Name</label>
					<input type="text" ng-model="newUser.first" class="form-control" id="signupFirst" placeholder="First Name" required/>
				</div>
				<div class="form-group">
					<label for="last">Last Name</label>
					<input type="text" ng-model="newUser.last" class="form-control" id="signupLast" placeholder="Last Name" required/>
				</div>
				<div class="form-group">
					<label for="position">Job Title</label>
					<input type="text" ng-model="newUser.title" class="form-control" id="signupPosition" placeholder="Job Title"/>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" ng-model="newUser.email" class="form-control" id="signupEmail" placeholder="Email" required/>
				</div>
				<div class="form-group">
					<label for="passowrd">Password</label>
					<input type="password" ng-model="newUser.password1" class="form-control" id="signupPassword" placeholder="Password" required/>
				</div>
				<div class="form-group">
					<label for="password2">Confirm Password</label>
					<input type="password" ng-model="newUser.password2" class="form-control" id="signupPassword2" placeholder="Confirm Password" required/>
				</div>
				<button type="submit" ng-disabled="form.$invalid" class="btn btn-default"> Sign Up! </button>
			</form>
			{{msgtxt}}
		</div>
	</div>
</div>